<div class="fixed py-5 font-bold w-screen backdrop-blur">
    <ul class="flex justify-between ">
        <li class="px-8 inline"><span>Hector Idme</span></li>
        <li class="pr-10 inline">
            <span class="flex gap-7">
                <a href="#Home">HOME</a>
                <a href="#Experience">EXPERIENCE</a>
                <a href="#Projects">PROJECTS</a>
                <a href="#Skills">SKILLS</a>
            </span>
        </li>
    </ul>
</div>

<style>
    a:hover{
        color: #15c89a;
        text-decoration: underline;
    }
</style>