<section id="Skills" class="h-screen mt-44 py-16 px-32">
    <h2 class="font-bold text-2xl flex justify-center">SKILLS</h2>
    <div class="flex gap-20 mt-10 pb-10">
        <div class="flex flex-col gap-3 items-center bg-white bg-opacity-5 p-4 rounded w-2/4">
            <h3 class="font-bold">LANGUAGES</h3>
            <div class="flex flex-wrap gap-11 justify-center mt-8">
                <img class="w-16 h-16" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png" alt="javascript logo">
                <img class="w-16 h-16" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/701px-Python-logo-notext.svg.png" alt="python logo">
                <img class="w-16 h-16" src="https://static-00.iconduck.com/assets.00/c-sharp-c-icon-456x512-9sej0lrz.png" alt="c# logo">
                <img class="w-16 h-16" src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png" alt="sql logo">
                <img class="w-12 h-20" src="https://www.sommelierdecafe.com/wp-content/uploads/2009/06/java-logo1-1.png" alt="java logo">
                <img class="w-18 h-16" src="https://cdn.freebiesupply.com/logos/thumbs/2x/c-logo.png" alt="c++ logo">
                <img class="w-18 h-16" src="https://assets-global.website-files.com/6047a9e35e5dc54ac86ddd90/6301859fc5a6211391f71cac_4a392b45.png" alt="shell logo">
            </div>
        </div>
        <div class="flex flex-col gap-3 items-center bg-white bg-opacity-5 p-4 rounded w-2/4">
            <h3 class="font-bold">FRAMEWORKS AND LIBRARIES</h3>
            <div class="flex flex-wrap gap-11 justify-center mt-8">
                <img class="w-16 h-16" src="https://cdn.iconscout.com/icon/free/png-256/free-vuejs-3-1175070.png" alt="vue">
                <img class="w-16 h-16" src="https://avatars.githubusercontent.com/u/44914786?v=4&s=400" alt="astro">
                <img class="w-16 h-16" src="https://cdn1.iconfinder.com/data/icons/programing-development-8/24/react_logo-512.png" alt="react">
                <img class="w-20 h-16" src="https://cdn.iconscout.com/icon/free/png-256/free-nodejs-2-226035.png?f=webp" alt="node">
                <img class="w-16 h-16" src="https://styles.redditmedia.com/t5_2tqnh/styles/communityIcon_xgyqt9ik2c8b1.jpg?format=pjpg&s=5f35426ed93752386d76399ff852d641c956ae02" alt="bootstrap">
                <img class="w-16 h-16" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/tailwindcss_logo_icon_167923.png" alt="tailwindcss">
                <img class="w-16 h-16" src="https://aspnetboilerplate.com/images/logos/tools/net-core.png" alt=".net">
                <img class="w-16 h-16" src="https://raw.githubusercontent.com/gilbarbara/logos/main/logos/spring-icon.svg" alt="spring">
            </div>
        </div>
    </div>
</section>